.DS_Store
/Conf/.cache
/Conf/BuildEnv.sh
/Build
/BaseTools/Source/C/VfrCompile/EfiVfrParser.cpp
/BaseTools/Source/C/VfrCompile/EfiVfrParser.h
/BaseTools/Source/C/VfrCompile/Pccts/antlr/antlr
/BaseTools/Source/C/VfrCompile/Pccts/dlg/dlg
/BaseTools/Source/C/VfrCompile/VfrLexer.cpp
/BaseTools/Source/C/VfrCompile/VfrLexer.h
/BaseTools/Source/C/VfrCompile/VfrParser.dlg
/BaseTools/Source/C/VfrCompile/VfrSyntax.cpp
/BaseTools/Source/C/VfrCompile/VfrTokens.h
/BaseTools/Source/C/bin
/BaseTools/Source/C/libs
*.o
*.d
*.pyc
